<tr>
    <td style="padding-bottom: 10px">Dear Sir/Madam,</td>
</tr>

<tr>
    <td style="padding-bottom: 10px">
        We refer to your application for Nigerian Content Equipment Certificate (NCRC), approved on <%= approvalDate %>.
    </td>
</tr>

<tr>
    <td style="padding-bottom: 10px">
        This is to notify you that your application <%= applicationCode %> is about to expire. Expiry Date: 
        <%= expiryDate %>
    </td>
    </td>
</tr>

<tr>
    <td style="padding-bottom: 10px">
        Please ensure to renew your NCRC Application once it expires. Kindly accept the assurances of the Board's
        highest regards.
    </td>
</tr>

<tr>
    <td>
        Best Regards, NCDMB
    </td>
</tr>