<tr>
  <td style="padding-bottom: 10px">
    An NCRC Application has been scheduled for inspection. See details below:
  </td>
</tr>

<tr>
  <td style="padding-bottom: 10px">
    <table cellpadding="0" cellspacing="0" width="50%">
      <tr>
        <td>Company</td>
        <td><%= company %></td>
      </tr>
      <tr>
        <td>Application Number</td>
        <td><%= applicationCode %></td>
      </tr>
      <tr>
        <td>Date of the inspection</td>
        <td><%= inspectionDate %></td>
      </tr>
      <tr>
        <td>Comment to Company</td>
        <td><%= inspectionComment %></td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td>Thank You.</td>
</tr>
