<tr>
  <td style="padding-bottom: 10px">Dear Sir/Madam,</td>
</tr>

<tr>
  <td style="padding-bottom: 10px">
    We refer to your application for the Nigerian Content Equipment Certificate
    (NCEC), submitted on <%= date %> in category <%= category %>
  </td>
</tr>

<tr>
  <td style="padding-bottom: 10px">
    This is to notify you that your application <%= appNumber %> is being
    processed.
  </td>
</tr>

<tr>
  <td style="padding-bottom: 10px">
    This letter is a proof that <%= company %> has applied for a Nigerian
    Content Equipment Certificate, which is currently being processed by the
    Nigerian Content Development and Monitoring Board (NCDMB).
  </td>
</tr>

<tr>
  <td style="padding-bottom: 10px">
    Kindly accept the assurances of the Board's highest regards.
  </td>
</tr>

<tr>
  <td style="padding-bottom: 10px">Best Regards, NCDMB</td>
</tr>
