PORT=4000
NODE_ENV=development

ORACLE_HOST=127.0.0.1
ORACLE_PORT=1521
ORACLE_USERNAME=<oracle-username>
ORACLE_PASSWORD=<oracle-password>
ORACLE_SID=novasphere
ORACLE_DATABASE=NOVASPHERE
ORACLE_SYNCHRONIZE=true
ORACLE_MAX=60000

JWT_SECRET=<jwt-secret>
JWT_REFRESH_SECRET=<jwt-refresh-secret>
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600
# 86400 represents 24h (1 day) in milliseconds
JWT_REFRESH_TOKEN_TTL=86400

UPLOADED_FILE_DESTINATION=public/uploads
IMAGE_DOMAIN=https://nogic-jqs-uploads.s3.amazonaws.com/nogic-assets/
QRCODE_WEBSITE_ADDRESS=http://174.138.37.0:3001/
CERTIFICATE_ROOT=certificates/base

# AMPQ 
AMQP_URL=amqp://rabbitmq
AMQP_USERNAME=<amqp-username>
AMQP_PASSWORD=<amqp-password>
AMQP_VHOST=/
AMQP_GLOBAL_VHOST=/
AMQP_ROUTING_KEY_PREFIX=novasphere-service:dev

# PM
PM_VERSION=4.1.21
PM_APP_URL=
PM_APP_PORT=8095
PM_BROADCASTER_PORT=6005
PM_DOCKER_SOCK=/var/run/docker.sock
PM_WORKFLOW_TITLE=
PM_WORKFLOW_PROCESS_ID=
PM_WORKFLOW_START_TASK_ID=
PM_SERVER=http://localhost:8095
PM_WORKSPACE=workflow
PM_CLIENT_ID=<processmaker-client-id>
PM_CLIENT_SECRET=<processmaker-client-secret>
PM_USERNAME=<processmaker-username>
PM_PASSWORD=<processmaker-password>
PM_PASSWORD_SECRET_KEY=<processmaker-password-secret-key>

# REDIS
REDIS_URL=localhost
REDIS_PORT=6379
REDIS_PASSWORD=<redis-password>

# EMAIL
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=465
MAIL_FROM=info@novasphere.com
MAIL_SENDER_NAME=NOVASPHERE
MAIL_USERNAME=<mail-username>
MAIL_PASSWORD=<mail-password>
MAIL_TRANSPORT=smtp://<mail-username>:<mail-password>@<mail-host>
MAIL_FRONTEND_URL=urlLink

# REMITA
REMITA_MERCHANT_ID=<remita-merchant-id>
REMITA_API_KEY=<remita-api-key>
REMITA_SERVICE_TYPE_ID=<remita-service-type-id>
REMITA_URL=https://demo.remita.net

# THROTTLE
THROTTLE_TTL=6000
THROTTLE_LIMIT=10

# SENTRY
SENTRY_URL=<sentry-dsn-or-url>

#AWS S3
S3_BUCKET_NAME=nogic-test-upload
S3_REGION=eu-north-1
S3_ACCESS_KEY_ID=<aws-access-key-id>
S3_SECRET_ACCESS_KEY=<aws-secret-access-key>
S3_BASE_URL=https://nogic-test-upload.s3.amazonaws.com/

#AUDIT
AUDIT_ENCRYPTION=<audit-encryption-key>

# POWER BI / Azure
AZURE_TENANT_ID=<azure-tenant-id>
AZURE_CLIENT_ID=<azure-client-id>
AZURE_CLIENT_SECRET=<azure-client-secret>
POWERBI_WORKSPACE_ID=<powerbi-workspace-id>
