<tr>
  <td style="padding-bottom: 10px"></td>
</tr>

<tr>
  <td style="padding-bottom: 10px">Dear <%= firstName %> <%= lastName %>,</td>
</tr>

<tr>
  <td style="padding-bottom: 10px">
    You have been successfully created as a system administrator on NOGIC JQS
    Portal. You need to accept the Terms and Conditions to gain access to the
    administrator section.
  </td>
</tr>

<tr>
  <td style="padding-bottom: 10px">
    Logon to the portal at this url:
    <a href="https://novasphere.gov.ng">Click Here</a>
  </td>
</tr>

<tr>
  <td style="padding-bottom: 10px">
    <strong> Your Portal Account Detail: </strong>
  </td>
</tr>

<tr>
  <td style="padding-bottom: 10px">
    <table cellpadding="0" cellspacing="0" width="50%">
      <tr>
        <td>Email Address:</td>
        <td><%= email %></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><%= password %></td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td style="padding-bottom: 10px">Thank You.</td>
</tr>
