<tr>
  <td style="padding-bottom: 10px">Dear <%= name %>,</td>
</tr>

<tr>
  <td style="padding-bottom: 10px">
    Welcome to the NOGIC JQS (Nigerian Oil and Gas Industry Content Joint
    Qualification System) Portal.
  </td>
</tr>

<tr>
  <td style="padding-bottom: 10px">
    On successful login to your portal account, you MUST update your profile
    information. This would ensure that your exact profile details are available
    at NCDMB (Nigerian Content Development & Monitoring Board) for full
    evaluation and proper consideration.
  </td>
</tr>

<tr>
  <td style="padding-bottom: 10px">
    <strong>The following steps enumerate how you can easily do this:</strong>
  </td>
</tr>

<tr>
  <td style="padding-bottom: 10px">
    <ol style="padding-left: 20px">
      <li>Step 1: Log in using your username (email) and portal password.</li>
      <li>
        Step 2: Upon Successful Login, Update your bio-data, Educational
        Qualification, Industry Certification, Job Experience, Skill, Training.
      </li>
      <li>Step 3: Upload copies of all claimed certificates.</li>
    </ol>
  </td>
</tr>

<tr>
  <td style="padding-bottom: 10px">Thank You.</td>
</tr>
