<tr>
  <td style="padding-bottom: 10px">---</td>
</tr>
<tr>
  <td style="padding-bottom: 10px">
    <strong>Contact Information:</strong><br />
    Website: <a href="https://nogicjqs.gov.ng">https://nogicjqs.gov.ng</a><br />
    Email: <a href="mailto:support@nogicjqs.com">support@nogicjqs.com</a><br />
    Phone: 01-6310962<br />
  </td>
</tr>
<tr>
  <td style="padding-bottom: 10px">---</td>
</tr>
<tr>
  <td style="padding-bottom: 10px">
    Note: This is an automated message. Please do not reply to this email.
  </td>
</tr>
