<tr>
  <td style="padding-bottom: 10px">
    <h2 style="font-size: 16px"><%= subject %></h2>
  </td>
</tr>

<tr>
  <td style="padding-bottom: 10px">
    An Application has been approved by the Executive Secretary (ES). See
    details below
  </td>
</tr>

<tr>
  <td style="padding-bottom: 10px">
    <table cellpadding="0" cellspacing="0" width="50%">
      <tr>
        <td style="padding-bottom: 5px">
          <p style="font-weight: bold; padding:5px 0; margin: 0">
            Company
          </p>
          <p style="padding: 0; margin: 0">
            <%= company %>
          </p>
        </td>
      </tr>
        <tr>
            <td style="padding-bottom: 5px">
            <p style="font-weight: bold; padding:5px 0; margin: 0">
                Application
            </p>
            <p style="padding: 0; margin: 0">
                <%= appNumber %>
            </p>
            </td>
        </tr>
    </table>
  </td>
</tr>

<tr>
  <td>Thank You.</td>
</tr>
