<tr>
  <td style="padding-bottom: 10px">
    <h2 style="font-size: 16px"><%= subject %></h2>
  </td>
</tr>
<tr>
  <td style="padding-bottom: 10px">
    Your Application (<%= appNumber %>) has been approved
  </td>
</tr>
<tr>
  <td style="padding-bottom: 10px">
    Login to your company account to view the approved application
  </td>
</tr>
<tr>
  <td style="padding-bottom: 10px">Thank You.</td>
</tr>
